@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1c1c1e;
}

.bulge {
  animation: bulge 0.2s ease-in-out;
}

@keyframes bulge {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}